{% for department in departments %}
<tr>
  <td>{{ department.department_name }}</td>
  <td>{{ department.department_code }}</td>

  <td align="center">
    <button class="btn btn-sm btn-clean btn-icon btn-icon-md js-update-department"
      data-url="{% url 'department_update' department.id %}" title="Edit">
      <i class="la la-edit"></i>
    </button>
  </td>

  <td align="center">
    <button class="btn btn-sm btn-clean btn-icon btn-icon-md js-delete-department" 
    title="Delete" data-url="{% url 'department_delete' department.id %}">
      <i class="la la-trash"></i>
    </button>
  </td>
  
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center bg-warning">No Departments Available</td>
</tr>
{% endfor %}