<form method="post" action="{% url 'location_delete' location.id %}" class="js-location-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
      <p class="lead">Are you sure you want to delete the <strong>{{ location.office_name }}</strong> location ?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-danger">Delete location</button>
    </div>
  </form>