{% load static %}
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

	<!--[html-partial:begin:{"id":"demo12/dist/inc/view/demos/pages/index","page":"index"}]/-->

	<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/dashboards/dashboard-1","page":"index"}]/-->

	<!--Begin::Dashboard 1-->

	<!--Begin::Row-->
	<div class="row">
		<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">

			<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/widgets/chart/activity","page":"index"}]/-->



			<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/widgets/chart/activity","page":"index"}]/-->
		</div>
		<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">

			<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/widgets/chart/inbound-bandwidth","page":"index"}]/-->

			<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/widgets/chart/inbound-bandwidth","page":"index"}]/-->
			<div class="kt-space-20"></div>

			<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/widgets/chart/outbound-bandwidth","page":"index"}]/-->

			<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/widgets/chart/outbound-bandwidth","page":"index"}]/-->
		</div>
		<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">

			<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/widgets/general/recent-activities","page":"index"}]/-->


			<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/widgets/general/recent-activities","page":"index"}]/-->
		</div>
		<div class="col-xl-8 order-lg-2 order-xl-1">

		</div>
	</div>

	<!--End::Row-->

	<!--Begin::Row-->
	<div class="row">
		<div class="col-xl-8 col-lg-12 order-lg-3 order-xl-1">

			<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/widgets/general/best-sellers","page":"index"}]/-->

			<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/widgets/general/best-sellers","page":"index"}]/-->
		</div>
		<div class="col-xl-4 col-lg-6 order-lg-3 order-xl-1">

			<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/widgets/general/new-users","page":"index"}]/-->

			<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/widgets/general/new-users","page":"index"}]/-->
		</div>
		<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1">

			<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/widgets/chart/mini-daily-sales","page":"index"}]/-->



			<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/widgets/chart/mini-daily-sales","page":"index"}]/-->
		</div>
		<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1">

			<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/widgets/chart/mini-profit-share","page":"index"}]/-->

			<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/widgets/chart/mini-profit-share","page":"index"}]/-->
		</div>
		<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1">

			<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/widgets/chart/mini-revenue-change","page":"index"}]/-->

			<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/widgets/chart/mini-revenue-change","page":"index"}]/-->
		</div>
		<div class="col-xl-10 col-lg-6 order-lg-3 order-xl-1">

			<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/widgets/general/tasks","page":"index"}]/-->

			<!--begin:: Widgets/Tasks -->
			<div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">
							Tasks
						</h3>
					</div>
					<div class="kt-portlet__head-toolbar">
						<ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#kt_widget2_tab1_content" role="tab">
									Today
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#kt_widget2_tab2_content" role="tab">
									Weekly
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#kt_widget2_tab3_content" role="tab">
									Monthly
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="kt-portlet__body">
					<div class="tab-content">
						<div class="tab-pane active" id="kt_widget2_tab1_content">
							<div class="kt-widget2">
								<div class="kt-widget2__item kt-widget2__item--primary">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Make Metronic Great Again.Lorem Ipsum Amet
										</a>
										<a href="#" class="kt-widget2__username">
											By Bob
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--warning">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Prepare Docs For Metting On Monday
										</a>
										<a href="#" class="kt-widget2__username">
											By Sean
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--brand">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Make Widgets Development. Estudiat Communy Elit
										</a>
										<a href="#" class="kt-widget2__username">
											By Aziko
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--success">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Make Metronic Development. Lorem Ipsum
										</a>
										<a class="kt-widget2__username">
											By James
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--danger">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Completa Financial Report For Emirates Airlines
										</a>
										<a href="#" class="kt-widget2__username">
											By Bob
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--info">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Completa Financial Report For Emirates Airlines
										</a>
										<a href="#" class="kt-widget2__username">
											By Sean
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="kt_widget2_tab2_content">
							<div class="kt-widget2">
								<div class="kt-widget2__item kt-widget2__item--success">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Make Metronic Development.Lorem Ipsum
										</a>
										<a class="kt-widget2__username">
											By James
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--warning">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Prepare Docs For Metting On Monday
										</a>
										<a href="#" class="kt-widget2__username">
											By Sean
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--danger">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Completa Financial Report For Emirates Airlines
										</a>
										<a href="#" class="kt-widget2__username">
											By Bob
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--primary">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Make Metronic Great Again.Lorem Ipsum Amet
										</a>
										<a href="#" class="kt-widget2__username">
											By Bob
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--info">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Completa Financial Report For Emirates Airlines
										</a>
										<a href="#" class="kt-widget2__username">
											By Sean
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--brand">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Make Widgets Development.Estudiat Communy Elit
										</a>
										<a href="#" class="kt-widget2__username">
											By Aziko
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="kt_widget2_tab3_content">
							<div class="kt-widget2">
								<div class="kt-widget2__item kt-widget2__item--warning">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Make Metronic Development. Lorem Ipsum
										</a>
										<a class="kt-widget2__username">
											By James
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--danger">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Completa Financial Report For Emirates Airlines
										</a>
										<a href="#" class="kt-widget2__username">
											By Bob
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--brand">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Make Widgets Development.Estudiat Communy Elit
										</a>
										<a href="#" class="kt-widget2__username">
											By Aziko
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--info">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Completa Financial Report For Emirates Airlines
										</a>
										<a href="#" class="kt-widget2__username">
											By Sean
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--success">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Completa Financial Report For Emirates Airlines
										</a>
										<a href="#" class="kt-widget2__username">
											By Bob
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
								<div class="kt-widget2__item kt-widget2__item--primary">
									<div class="kt-widget2__checkbox">
										<label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
											<input type="checkbox">
											<span></span>
										</label>
									</div>
									<div class="kt-widget2__info">
										<a href="#" class="kt-widget2__title">
											Make Metronic Great Again.Lorem Ipsum Amet
										</a>
										<a href="#" class="kt-widget2__username">
											By Bob
										</a>
									</div>
									<div class="kt-widget2__actions">
										<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
											<i class="flaticon-more-1"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

											<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
											<ul class="kt-nav">
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-line-chart"></i>
														<span class="kt-nav__link-text">Reports</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-send"></i>
														<span class="kt-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
														<span class="kt-nav__link-text">Charts</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-avatar"></i>
														<span class="kt-nav__link-text">Members</span>
													</a>
												</li>
												<li class="kt-nav__item">
													<a href="#" class="kt-nav__link">
														<i class="kt-nav__link-icon flaticon2-settings"></i>
														<span class="kt-nav__link-text">Settings</span>
													</a>
												</li>
											</ul>

											<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/general/dropdown-menu-1","page":"index"}]/-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--end:: Widgets/Tasks -->

			<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/widgets/general/tasks","page":"index"}]/-->
		</div>
		<div class="col-xl-10 col-lg-6 order-lg-3 order-xl-1">

			<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/widgets/general/notifications","page":"index"}]/-->
			<!--begin::Portlet-->
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">
							Employee List
						</h3>
					</div>
				</div>
				<div class="kt-portlet__body">
					<div class="kt-section">
						<div class="kt-section__info">Workers</div>
						<div class="kt-section__content d-flex flex-wrap kt-section__content--solid--">
							<div class="kt-demo-icon" style="background-color: #ffffff">
								<div class="kt-demo-icon__preview">
									<a href="?page=hiring/basic-information.php"><i class="flaticon-plus"></i></a>
								</div>
							</div>
							<a href="#" class="kt-media kt-margin-r-5 kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
								<img src="{% static 'assets/media/users/100_2.jpg' %}" alt="image">
							</a>
							<a href="#" class="kt-media kt-media--circle kt-margin-r-5 kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
								<img src="{% static 'assets/media/users/100_5.jpg' %}" alt="image">
							</a>
							<a href="#" class="kt-media kt-margin-r-5 kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
								<img src="{% static 'assets/media/users/100_11.jpg' %}" alt="image">
							</a>
							<a href="#" class="kt-media kt-media--circle kt-margin-r-5 kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
								<img src="{% static 'assets/media/users/300_8.jpg' %}" alt="image">
							</a>
							<a href="#" class="kt-media kt-margin-r-5 kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
								<img src="{% static 'assets/media/users/100_7.jpg' %}" alt="image">
							</a>
							<a href="#" class="kt-media kt-media--circle kt-margin-r-5 kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
								<img src="{% static 'assets/media/users/300_24.jpg' %}" alt="image">
							</a>
							<a href="#" class="kt-media kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
								<img src="{% static 'assets/media/users/300_20.jpg' %}" alt="image">
							</a>
						</div>
					</div>
				</div>
			</div>

			<!--end::Portlet-->
			<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/widgets/general/notifications","page":"index"}]/-->
		</div>
		<div class="col-xl-4 col-lg-6 order-lg-3 order-xl-1">

			<!--[html-partial:begin:{"id":"demo12/dist/inc/view/partials/content/widgets/general/support-tickets","page":"index"}]/-->

			<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/widgets/general/support-tickets","page":"index"}]/-->
		</div>
	</div>

	<!--End::Row-->

	<!--End::Dashboard 1-->

	<!--[html-partial:end:{"id":"demo12/dist/inc/view/partials/content/dashboards/dashboard-1","page":"index"}]/-->

	<!--[html-partial:end:{"id":"demo12/dist/inc/view/demos/pages/index","page":"index"}]/-->
</div>

<!-- end:: Content -->